
.container-logo-text{
    display: flex;
}

.texto-main{
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding-bottom: 15px;
    
}

.texto-h1{
    position: relative;
    top: 20px;
    font-size: 50px;
    
}


.logo{
    width: 400px;
    height: auto;
    display: block;
    margin: auto;
}


.texto-main{
    margin: auto;
}

.text-ballspub{
    border-bottom: solid rgba(0, 0, 0, 0.336) 1px;
    padding-bottom: 30px;
    padding-top: 60px;
}

.tittle-balls{
    font-size: 35px;
    font-weight: 300;
}






@media only screen and (max-width:991px){


    .logo{
        width: 200px;
        height: auto;
        display: block;
        margin: auto;
    }

    .container-logo-text{
        display: block;
        padding-bottom: 1px;
        text-align: center;
        
    }

    .texto-main{
        border-top: solid 1px;
        border-bottom: solid 1px;
        padding-bottom: 15px;
        
    }
    
    .texto-h1{
        position: relative;
        top: 20px;
        font-size: 30px;
    }

    .texto-p{
        font-size: 5px;
    }

    .text-ballspub{
        border-bottom: solid rgba(0, 0, 0, 0.336) 2px;
        padding-bottom: 30px;
        padding-top: 60px;
    }


}

@media only screen and (max-width:260px){

    .container-logo-text{
        display: block;
        padding-bottom: 40px;
        text-align: center;
    }

    .logo{
        width: 150px;
        height: auto;
        display: block;
        margin: auto;
    }

    .text-ballspub{
        border-bottom: solid rgba(0, 0, 0, 0.336) 4px;
        padding-bottom: 30px;
        padding-top: 60px;
    }

}