
.container-logo-text{
    display: flex;
}



.texto-main{
    margin: auto;
}








@media only screen and (max-width:991px){

    .container-logo-text{
        display: block;
        padding-bottom: 50px;
        text-align: center;
        
    }



}

@media only screen and (max-width:260px){

    .container-logo-text{
        display: block;
        padding-bottom: 40px;
        text-align: center;
    }



}